h1 {
    text-align: center;
    font-family: monospace;
}

header {
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    font-style: oblique;
}

input {
    margin: 0px 585px 0px
}

div {
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}


body {
    background-image: url("https://wallpaperaccess.com/full/2683869.jpg");
}